/* Variables de manteriabilidad */
{
box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
font-family: 'Segoe UI', Arial, sans-serif;
background-color: #7f8c8d;
}

/* MACRO-LAYOUT (Grid) */
.container {
display: grid;
grid-template-columns: 280px 1fr;
 min-height: 100vh;
}

/* Sidebar y Perfil */
.sidebar {
background-color: #1a252f;
color: rgb(213, 144, 198);
padding: 2rem;
}

.etiqueta-estudiante {
font-size:0.8rem;
color: #0d0f10;
margin-top: 10px;
}

.nombre-estudiante {
font-size: 1.2rem;  
color: 0df10;
 margin-bottom: 2rem;
}

/* Panel de Cursos (Grid Adaptable) */
.panel-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px;
}

/* Tarjeta (Flexbox para alineación vertical) */
.paneldelcurso{
    display: grid;
    flex-direction: column;
    background: rgb(146, 208, 196);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.foto-tarjeta{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

h3{
    color: #2c3e50;
    margin-bottom: 10px;
}

/* Estilo para el nuevo párrafo pequeño */
.descripcion-curso{
    font-size: 0.9rem;
    color: #7f8c8d;
    line-height: 1.4;
    margin-bottom: 20px;
    flex-grow: 1;
}

button{
padding: 10px 25px;
background-color: #dde4b0;
color: rgb(4, 3, 52);
border: none;
border-radius: 25px;
cursor: pointer;
font-weight: bold;
}

/* CENTRAR TODO EL GRID EN PANTALLA */
.imagen-grid { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1200px; /* Para que no se estire demasiado */
  margin: 0 auto; /* ESTO es lo que lo centra */
  padding: 1rem;
}

/* QUE LA CARD SE VEA ESTÉTICA = Tarjeta bonita */
.card {
  display: flex;
  flex-direction: column;
  background: #1A1F2B; /* Fondo oscuro tipo NexoPlay */
  border-radius: 16px; /* Esquinas redondas */
  overflow: hidden; /* Para que la imagen respete el borde */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
  transition: transform 0.2s ease; /* Animación al pasar el mouse */
}

.card:hover {
  transform: translateY(-5px); /* Se levanta poquito */
}

/* IMAGENES BONITAS Y QUE NO SE DEFORME */
.card img {
  width: 100%;
  height: 180px; /* Todas miden lo mismo */
  object-fit: cover; /* Recorta sin deformar */
}

/* DESCRIPCIÓN/TEXTO BIEN ESTIPULADO EN MEDIO */
.card h3 {
  font-size: 1.1rem;
  padding: 0.5rem 1rem 0;
  text-align: center; /* Texto centrado */
  color: #EAEAEA;
}

.card button {
  margin: 0.5rem 1rem 1rem; /* Espacio arriba, lados y abajo */
  padding: 0.75rem;
  background: #FF3D71;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto; /* Empuja el botón hasta abajo */
}